<launch>
	<param name="/robot_description" textfile="$(find hero_description)/robot/hero_light.urdf"/>
	


	<node name="spawn_urdf_arena_1" pkg="gazebo_ros" type="spawn_model" args="-urdf -model arena_1 -x 0.0 -y -0.0 -z -0.0 -file $(find phers_framework)/models/arena_1/arena.urdf" />
	
	<node name="obs_01" pkg="gazebo_ros" type="spawn_model" args="-sdf -model obs_01 -x 0.4000 -y 0.0 -z 0.2  -file /home/nishilab/catkin_ws/src/phers_framework/models/phers_ex01_obstacle/model.sdf" />
	<node name="obs_02" pkg="gazebo_ros" type="spawn_model" args="-sdf -model obs_02 -x -0.4000 -y 0.0 -z 0.2 -file /home/nishilab/catkin_ws/src/phers_framework/models/phers_ex01_obstacle/model.sdf" />
	<node name="obs_03" pkg="gazebo_ros" type="spawn_model" args="-sdf -model obs_03 -x 0.0000 -y 0.4000 -z 0.2 -file /home/nishilab/catkin_ws/src/phers_framework/models/phers_ex01_obstacle/model.sdf" />
	<node name="obs_04" pkg="gazebo_ros" type="spawn_model" args="-sdf -model obs_04 -x 0.0000 -y -0.4000 -z 0.2 -file /home/nishilab/catkin_ws/src/phers_framework/models/phers_ex01_obstacle/model.sdf" />

	<group ns ="hero_0">
    	<param name="tf_prefix" value="hero_0" />
    	<param name="robot_description_hero_0" command="$(find xacro)/xacro '$(find hero_description)/robot/hero_light.urdf'"/>
		<node name="spawn_urdf_hero_0" pkg="gazebo_ros" type="spawn_model" args="-urdf -model hero_0 -x 0.0 -y 0.0 -z 0.2395 -robot_namespace hero_0 -file $(find hero_description)/robot/hero_light.urdf" />
		<node pkg="tf" type="static_transform_publisher" name="hero_0_broadcaster" args="0 0 0 0 0 0 world /hero_0/odom 20" />
		<node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>
	
	</group>
                
</launch>