<launch>
    <!-- Set the LIBGL_ALWAYS_SOFTWARE environment variable -->
    <env name="LIBGL_ALWAYS_SOFTWARE" value="1" />

    <!-- Launch RViz with a specific configuration file -->
    <node pkg="rviz" type="rviz" name="rviz" args="-d $(find phers_framework)/rviz/default.rviz" required="true" />
</launch>
