<launch>
	<param name="/robot_description" textfile="$(find hero_description)/robot/hero_light.urdf"/>
	

	<!-- 1つ目の環境 -->
	<node name="spawn_urdf_arena_0" pkg="gazebo_ros" type="spawn_model" args="-urdf -model arena_0 -x 0.0 -y -0.0 -z -0.0 -file $(find phers_framework)/models/arena_1/arena.urdf" />
	
	<!-- 障害物 -->
	<node name="obs_01" pkg="gazebo_ros" type="spawn_model" args="-sdf -model obs_01 -x 0.4000 -y 0.0 -z 0.09  -file $(find phers_framework)/models/phers_ex01_obstacle/model.sdf" />
	<node name="obs_02" pkg="gazebo_ros" type="spawn_model" args="-sdf -model obs_02 -x -0.4000 -y 0.0 -z 0.09 -file $(find phers_framework)/models/phers_ex01_obstacle/model.sdf" />
	<node name="obs_03" pkg="gazebo_ros" type="spawn_model" args="-sdf -model obs_03 -x 0.0000 -y 0.4000 -z 0.09 -file $(find phers_framework)/models/phers_ex01_obstacle/model.sdf" />
	<node name="obs_04" pkg="gazebo_ros" type="spawn_model" args="-sdf -model obs_04 -x 0.0000 -y -0.4000 -z 0.09 -file $(find phers_framework)/models/phers_ex01_obstacle/model.sdf" />
	<!-- ゴール -->
	<node name="goal_0" pkg="gazebo_ros" type="spawn_model" args="-sdf -model goal_0 -x 0.4000 -y 0.4000 -z 0.06 -file $(find phers_framework)/models/goal/model.sdf" />
	<!-- ロボット -->
	<group ns ="hero_0">
    	<param name="tf_prefix" value="hero_0" />
    	<param name="robot_description_hero_0" command="$(find xacro)/xacro '$(find hero_description)/robot/hero_light.urdf'"/>
		<node name="spawn_urdf_hero_0" pkg="gazebo_ros" type="spawn_model" args="-urdf -model hero_0 -x 0.0 -y 0.0 -z 0.2395 -robot_namespace hero_0 -file $(find hero_description)/robot/hero_light.urdf" />
		<node pkg="tf" type="static_transform_publisher" name="hero_0_broadcaster" args="0 0 0 0 0 0 world /hero_0/odom 20" />
		<node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>
	</group>

	<!-- 2つ目の環境 -->
	<node name="spawn_urdf_arena_1" pkg="gazebo_ros" type="spawn_model" args="-urdf -model arena_1 -x 20.0 -y -0.0 -z -0.0 -file $(find phers_framework)/models/arena_1/arena.urdf" />
	<!-- 障害物 -->
	<node name="obs_11" pkg="gazebo_ros" type="spawn_model" args="-sdf -model obs_11 -x 20.4000 -y 0.0 -z 0.09  -file $(find phers_framework)/models/phers_ex01_obstacle/model.sdf" />
	<node name="obs_12" pkg="gazebo_ros" type="spawn_model" args="-sdf -model obs_12 -x 19.6000 -y 0.0 -z 0.09 -file $(find phers_framework)/models/phers_ex01_obstacle/model.sdf" />
	<node name="obs_13" pkg="gazebo_ros" type="spawn_model" args="-sdf -model obs_13 -x 20.0000 -y 0.4000 -z 0.09 -file $(find phers_framework)/models/phers_ex01_obstacle/model.sdf" />
	<node name="obs_14" pkg="gazebo_ros" type="spawn_model" args="-sdf -model obs_14 -x 20.0000 -y -0.4000 -z 0.09 -file $(find phers_framework)/models/phers_ex01_obstacle/model.sdf" />
	<!-- ゴール -->
	<node name="goal_1" pkg="gazebo_ros" type="spawn_model" args="-sdf -model goal_1 -x 20.4000 -y 0.4000 -z 0.06 -file $(find phers_framework)/models/goal/model.sdf" />

	<group ns ="hero_1">
    	<param name="tf_prefix" value="hero_1" />
    	<param name="robot_description_hero_1" command="$(find xacro)/xacro '$(find hero_description)/robot/hero_light.urdf'"/>
		<node name="spawn_urdf_hero_1" pkg="gazebo_ros" type="spawn_model" args="-urdf -model hero_1 -x 20.0 -y 0.0 -z 0.2395 -robot_namespace hero_1 -file $(find hero_description)/robot/hero_light.urdf" />
		<node pkg="tf" type="static_transform_publisher" name="hero_1_broadcaster" args="20 0 0 0 0 0 world /hero_1/odom 20" />
		<node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>
	</group>
    
    <!-- 3つ目の環境 -->
	<node name="spawn_urdf_arena_2" pkg="gazebo_ros" type="spawn_model" args="-urdf -model arena_2 -x 40.0 -y -0.0 -z -0.0 -file $(find phers_framework)/models/arena_1/arena.urdf" />
	<!-- 障害物 -->
	<node name="obs_21" pkg="gazebo_ros" type="spawn_model" args="-sdf -model obs_21 -x 40.4000 -y 0.0 -z 0.09  -file $(find phers_framework)/models/phers_ex01_obstacle/model.sdf" />
	<node name="obs_22" pkg="gazebo_ros" type="spawn_model" args="-sdf -model obs_22 -x 39.6000 -y 0.0 -z 0.09 -file $(find phers_framework)/models/phers_ex01_obstacle/model.sdf" />
	<node name="obs_23" pkg="gazebo_ros" type="spawn_model" args="-sdf -model obs_23 -x 40.0000 -y 0.4000 -z 0.09 -file $(find phers_framework)/models/phers_ex01_obstacle/model.sdf" />
	<node name="obs_24" pkg="gazebo_ros" type="spawn_model" args="-sdf -model obs_24 -x 40.0000 -y -0.4000 -z 0.09 -file $(find phers_framework)/models/phers_ex01_obstacle/model.sdf" />
	<!-- ゴール -->
	<node name="goal_2" pkg="gazebo_ros" type="spawn_model" args="-sdf -model goal_2 -x 40.4000 -y 0.4000 -z 0.06 -file $(find phers_framework)/models/goal/model.sdf" />
	<group ns ="hero_2">
    	<param name="tf_prefix" value="hero_2" />
    	<param name="robot_description_hero_2" command="$(find xacro)/xacro '$(find hero_description)/robot/hero_light.urdf'"/>
		<node name="spawn_urdf_hero_2" pkg="gazebo_ros" type="spawn_model" args="-urdf -model hero_2 -x 40.0 -y 0.0 -z 0.2395 -robot_namespace hero_2 -file $(find hero_description)/robot/hero_light.urdf" />
		<node pkg="tf" type="static_transform_publisher" name="hero_2_broadcaster" args="40 0 0 0 0 0 world /hero_2/odom 20" />
		<node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>
	</group>

     <!-- 4つ目の環境 -->
	<node name="spawn_urdf_arena_3" pkg="gazebo_ros" type="spawn_model" args="-urdf -model arena_3 -x 60.0 -y -0.0 -z -0.0 -file $(find phers_framework)/models/arena_1/arena.urdf" />
	<!-- 障害物 -->
	<node name="obs_31" pkg="gazebo_ros" type="spawn_model" args="-sdf -model obs_31 -x 60.4000 -y 0.0 -z 0.09  -file $(find phers_framework)/models/phers_ex01_obstacle/model.sdf" />
	<node name="obs_32" pkg="gazebo_ros" type="spawn_model" args="-sdf -model obs_32 -x 59.6000 -y 0.0 -z 0.09 -file $(find phers_framework)/models/phers_ex01_obstacle/model.sdf" />
	<node name="obs_33" pkg="gazebo_ros" type="spawn_model" args="-sdf -model obs_33 -x 60.0000 -y 0.4000 -z 0.09 -file $(find phers_framework)/models/phers_ex01_obstacle/model.sdf" />
	<node name="obs_34" pkg="gazebo_ros" type="spawn_model" args="-sdf -model obs_34 -x 60.0000 -y -0.4000 -z 0.09 -file $(find phers_framework)/models/phers_ex01_obstacle/model.sdf" />
	<!-- ゴール -->
	<node name="goal_3" pkg="gazebo_ros" type="spawn_model" args="-sdf -model goal_3 -x 60.4000 -y 0.4000 -z 0.06 -file $(find phers_framework)/models/goal/model.sdf" />
	<group ns ="hero_3">
    	<param name="tf_prefix" value="hero_3" />
    	<param name="robot_description_hero_3" command="$(find xacro)/xacro '$(find hero_description)/robot/hero_light.urdf'"/>
		<node name="spawn_urdf_hero_3" pkg="gazebo_ros" type="spawn_model" args="-urdf -model hero_3 -x 60.0 -y 0.0 -z 0.2395 -robot_namespace hero_3 -file $(find hero_description)/robot/hero_light.urdf" />
		<node pkg="tf" type="static_transform_publisher" name="hero_3_broadcaster" args="60 0 0 0 0 0 world /hero_3/odom 20" />
		<node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>
	</group>

	<!-- 5つ目の環境 -->
	<node name="spawn_urdf_arena_4" pkg="gazebo_ros" type="spawn_model" args="-urdf -model arena_4 -x 0.0 -y 20.0 -z -0.0 -file $(find phers_framework)/models/arena_1/arena.urdf" />
	<!-- 障害物 -->
	<node name="obs_41" pkg="gazebo_ros" type="spawn_model" args="-sdf -model obs_41 -x 0.4000 -y 20.0 -z 0.09  -file $(find phers_framework)/models/phers_ex01_obstacle/model.sdf" />
	<node name="obs_42" pkg="gazebo_ros" type="spawn_model" args="-sdf -model obs_42 -x -0.4000 -y 20.0 -z 0.09 -file $(find phers_framework)/models/phers_ex01_obstacle/model.sdf" />
	<node name="obs_43" pkg="gazebo_ros" type="spawn_model" args="-sdf -model obs_43 -x 0.0000 -y 20.4000 -z 0.09 -file $(find phers_framework)/models/phers_ex01_obstacle/model.sdf" />
	<node name="obs_44" pkg="gazebo_ros" type="spawn_model" args="-sdf -model obs_44 -x 0.0000 -y 19.6000 -z 0.09 -file $(find phers_framework)/models/phers_ex01_obstacle/model.sdf" />
	<!-- ゴール -->
	<node name="goal_4" pkg="gazebo_ros" type="spawn_model" args="-sdf -model goal_4 -x 0.4000 -y 20.4000 -z 0.06 -file $(find phers_framework)/models/goal/model.sdf" />
	<group ns ="hero_4">
    	<param name="tf_prefix" value="hero_4" />
    	<param name="robot_description_hero_4" command="$(find xacro)/xacro '$(find hero_description)/robot/hero_light.urdf'"/>
		<node name="spawn_urdf_hero_4" pkg="gazebo_ros" type="spawn_model" args="-urdf -model hero_4 -x 0.0 -y 20.0 -z 0.2395 -robot_namespace hero_4 -file $(find hero_description)/robot/hero_light.urdf" />
		<node pkg="tf" type="static_transform_publisher" name="hero_4_broadcaster" args="0 20 0 0 0 0 world /hero_4/odom 20" />
		<node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>
	</group>

	<!-- 6つ目の環境 -->
	<node name="spawn_urdf_arena_5" pkg="gazebo_ros" type="spawn_model" args="-urdf -model arena_5 -x 20.0 -y 20.0 -z -0.0 -file $(find phers_framework)/models/arena_1/arena.urdf" />
	<!-- 障害物 -->
	<node name="obs_51" pkg="gazebo_ros" type="spawn_model" args="-sdf -model obs_51 -x 20.4000 -y 20.0 -z 0.09  -file $(find phers_framework)/models/phers_ex01_obstacle/model.sdf" />
	<node name="obs_52" pkg="gazebo_ros" type="spawn_model" args="-sdf -model obs_52 -x 19.6000 -y 20.0 -z 0.09 -file $(find phers_framework)/models/phers_ex01_obstacle/model.sdf" />
	<node name="obs_53" pkg="gazebo_ros" type="spawn_model" args="-sdf -model obs_53 -x 20.0000 -y 20.4000 -z 0.09 -file $(find phers_framework)/models/phers_ex01_obstacle/model.sdf" />
	<node name="obs_54" pkg="gazebo_ros" type="spawn_model" args="-sdf -model obs_54 -x 20.0000 -y 19.6000 -z 0.09 -file $(find phers_framework)/models/phers_ex01_obstacle/model.sdf" />
	<!-- ゴール -->
	<node name="goal_5" pkg="gazebo_ros" type="spawn_model" args="-sdf -model goal_5 -x 20.4000 -y 20.4000 -z 0.06 -file $(find phers_framework)/models/goal/model.sdf" />
	<group ns ="hero_5">
		<param name="tf_prefix" value="hero_5" />
		<param name="robot_description_hero_5" command="$(find xacro)/xacro '$(find hero_description)/robot/hero_light.urdf'"/>
		<node name="spawn_urdf_hero_5" pkg="gazebo_ros" type="spawn_model" args="-urdf -model hero_5 -x 20.0 -y 20.0 -z 0.2395 -robot_namespace hero_5 -file $(find hero_description)/robot/hero_light.urdf" />
		<node pkg="tf" type="static_transform_publisher" name="hero_5_broadcaster" args="20 20 0 0 0 0 world /hero_5/odom 20" />
		<node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>
	</group>

	<!-- 7つ目の環境 -->
	<node name="spawn_urdf_arena_6" pkg="gazebo_ros" type="spawn_model" args="-urdf -model arena_6 -x 40.0 -y 20.0 -z -0.0 -file $(find phers_framework)/models/arena_1/arena.urdf" />
	<!-- 障害物 -->
	<node name="obs_61" pkg="gazebo_ros" type="spawn_model" args="-sdf -model obs_61 -x 40.4000 -y 20.0 -z 0.09  -file $(find phers_framework)/models/phers_ex01_obstacle/model.sdf" />
	<node name="obs_62" pkg="gazebo_ros" type="spawn_model" args="-sdf -model obs_62 -x 39.6000 -y 20.0 -z 0.09 -file $(find phers_framework)/models/phers_ex01_obstacle/model.sdf" />
	<node name="obs_63" pkg="gazebo_ros" type="spawn_model" args="-sdf -model obs_63 -x 40.0000 -y 20.4000 -z 0.09 -file $(find phers_framework)/models/phers_ex01_obstacle/model.sdf" />
	<node name="obs_64" pkg="gazebo_ros" type="spawn_model" args="-sdf -model obs_64 -x 40.0000 -y 19.6000 -z 0.09 -file $(find phers_framework)/models/phers_ex01_obstacle/model.sdf" />
	<!-- ゴール -->
	<node name="goal_6" pkg="gazebo_ros" type="spawn_model" args="-sdf -model goal_6 -x 40.4000 -y 20.4000 -z 0.06 -file $(find phers_framework)/models/goal/model.sdf" />
	<group ns ="hero_6">
		<param name="tf_prefix" value="hero_6" />
		<param name="robot_description_hero_6" command="$(find xacro)/xacro '$(find hero_description)/robot/hero_light.urdf'"/>
		<node name="spawn_urdf_hero_6" pkg="gazebo_ros" type="spawn_model" args="-urdf -model hero_6 -x 40.0 -y 20.0 -z 0.2395 -robot_namespace hero_6 -file $(find hero_description)/robot/hero_light.urdf" />
		<node pkg="tf" type="static_transform_publisher" name="hero_6_broadcaster" args="40 20 0 0 0 0 world /hero_6/odom 20" />
		<node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>
	</group>

	<!-- 8つ目の環境 -->
	<node name="spawn_urdf_arena_7" pkg="gazebo_ros" type="spawn_model" args="-urdf -model arena_7 -x 60.0 -y 20.0 -z -0.0 -file $(find phers_framework)/models/arena_1/arena.urdf" />
	<!-- 障害物 -->
	<node name="obs_71" pkg="gazebo_ros" type="spawn_model" args="-sdf -model obs_71 -x 60.4000 -y 20.0 -z 0.09  -file $(find phers_framework)/models/phers_ex01_obstacle/model.sdf" />
	<node name="obs_72" pkg="gazebo_ros" type="spawn_model" args="-sdf -model obs_72 -x 59.6000 -y 20.0 -z 0.09 -file $(find phers_framework)/models/phers_ex01_obstacle/model.sdf" />
	<node name="obs_73" pkg="gazebo_ros" type="spawn_model" args="-sdf -model obs_73 -x 60.0000 -y 20.4000 -z 0.09 -file $(find phers_framework)/models/phers_ex01_obstacle/model.sdf" />
	<node name="obs_74" pkg="gazebo_ros" type="spawn_model" args="-sdf -model obs_74 -x 60.0000 -y 19.6000 -z 0.09 -file $(find phers_framework)/models/phers_ex01_obstacle/model.sdf" />
	<!-- ゴール -->
	<node name="goal_7" pkg="gazebo_ros" type="spawn_model" args="-sdf -model goal_7 -x 60.4000 -y 20.4000 -z 0.06 -file $(find phers_framework)/models/goal/model.sdf" />
	<group ns ="hero_7">
		<param name="tf_prefix" value="hero_7" />
		<param name="robot_description_hero_7" command="$(find xacro)/xacro '$(find hero_description)/robot/hero_light.urdf'"/>
		<node name="spawn_urdf_hero_7" pkg="gazebo_ros" type="spawn_model" args="-urdf -model hero_7 -x 60.0 -y 20.0 -z 0.2395 -robot_namespace hero_7 -file $(find hero_description)/robot/hero_light.urdf" />
		<node pkg="tf" type="static_transform_publisher" name="hero_7_broadcaster" args="60 20 0 0 0 0 world /hero_7/odom 20" />
		<node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>
	</group>

	<!-- 9つ目の環境 -->
	<node name="spawn_urdf_arena_8" pkg="gazebo_ros" type="spawn_model" args="-urdf -model arena_8 -x 0.0 -y 40.0 -z -0.0 -file $(find phers_framework)/models/arena_1/arena.urdf" />
	<!-- 障害物 -->
	<node name="obs_81" pkg="gazebo_ros" type="spawn_model" args="-sdf -model obs_81 -x 0.4000 -y 40.0 -z 0.09  -file $(find phers_framework)/models/phers_ex01_obstacle/model.sdf" />
	<node name="obs_82" pkg="gazebo_ros" type="spawn_model" args="-sdf -model obs_82 -x -0.4000 -y 40.0 -z 0.09 -file $(find phers_framework)/models/phers_ex01_obstacle/model.sdf" />
	<node name="obs_83" pkg="gazebo_ros" type="spawn_model" args="-sdf -model obs_83 -x 0.0000 -y 40.4000 -z 0.09 -file $(find phers_framework)/models/phers_ex01_obstacle/model.sdf" />
	<node name="obs_84" pkg="gazebo_ros" type="spawn_model" args="-sdf -model obs_84 -x 0.0000 -y 39.6000 -z 0.09 -file $(find phers_framework)/models/phers_ex01_obstacle/model.sdf" />
	<!-- ゴール -->
	<node name="goal_8" pkg="gazebo_ros" type="spawn_model" args="-sdf -model goal_8 -x 0.4000 -y 40.4000 -z 0.06 -file $(find phers_framework)/models/goal/model.sdf" />
	<group ns ="hero_8">
		<param name="tf_prefix" value="hero_8" />
		<param name="robot_description_hero_8" command="$(find xacro)/xacro '$(find hero_description)/robot/hero_light.urdf'"/>
		<node name="spawn_urdf_hero_8" pkg="gazebo_ros" type="spawn_model" args="-urdf -model hero_8 -x 0.0 -y 40.0 -z 0.2395 -robot_namespace hero_8 -file $(find hero_description)/robot/hero_light.urdf" />
		<node pkg="tf" type="static_transform_publisher" name="hero_8_broadcaster" args="0 40 0 0 0 0 world /hero_8/odom 20" />
		<node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>
	</group>

	<!-- 10つ目の環境 -->
	<node name="spawn_urdf_arena_9" pkg="gazebo_ros" type="spawn_model" args="-urdf -model arena_9 -x 20.0 -y 40.0 -z -0.0 -file $(find phers_framework)/models/arena_1/arena.urdf" />
	<!-- 障害物 -->
	<node name="obs_91" pkg="gazebo_ros" type="spawn_model" args="-sdf -model obs_91 -x 20.4000 -y 40.0 -z 0.09  -file $(find phers_framework)/models/phers_ex01_obstacle/model.sdf" />
	<node name="obs_92" pkg="gazebo_ros" type="spawn_model" args="-sdf -model obs_92 -x 19.6000 -y 40.0 -z 0.09 -file $(find phers_framework)/models/phers_ex01_obstacle/model.sdf" />
	<node name="obs_93" pkg="gazebo_ros" type="spawn_model" args="-sdf -model obs_93 -x 20.0000 -y 40.4000 -z 0.09 -file $(find phers_framework)/models/phers_ex01_obstacle/model.sdf" />
	<node name="obs_94" pkg="gazebo_ros" type="spawn_model" args="-sdf -model obs_94 -x 20.0000 -y 39.6000 -z 0.09 -file $(find phers_framework)/models/phers_ex01_obstacle/model.sdf" />
	<!-- ゴール -->
	<node name="goal_9" pkg="gazebo_ros" type="spawn_model" args="-sdf -model goal_9 -x 20.4000 -y 40.4000 -z 0.06 -file $(find phers_framework)/models/goal/model.sdf" />
	<group ns ="hero_9">
		<param name="tf_prefix" value="hero_9" />
		<param name="robot_description_hero_9" command="$(find xacro)/xacro '$(find hero_description)/robot/hero_light.urdf'"/>
		<node name="spawn_urdf_hero_9" pkg="gazebo_ros" type="spawn_model" args="-urdf -model hero_9 -x 20.0 -y 40.0 -z 0.2395 -robot_namespace hero_9 -file $(find hero_description)/robot/hero_light.urdf" />
		<node pkg="tf" type="static_transform_publisher" name="hero_9_broadcaster" args="20 40 0 0 0 0 world /hero_9/odom 20" />
		<node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>
	</group>

	<!-- 11つ目の環境 -->
	<node name="spawn_urdf_arena_10" pkg="gazebo_ros" type="spawn_model" args="-urdf -model arena_10 -x 40.0 -y 40.0 -z -0.0 -file $(find phers_framework)/models/arena_1/arena.urdf" />
	<!-- 障害物 -->
	<node name="obs_101" pkg="gazebo_ros" type="spawn_model" args="-sdf -model obs_101 -x 40.4000 -y 40.0 -z 0.09  -file $(find phers_framework)/models/phers_ex01_obstacle/model.sdf" />
	<node name="obs_102" pkg="gazebo_ros" type="spawn_model" args="-sdf -model obs_102 -x 39.6000 -y 40.0 -z 0.09 -file $(find phers_framework)/models/phers_ex01_obstacle/model.sdf" />
	<node name="obs_103" pkg="gazebo_ros" type="spawn_model" args="-sdf -model obs_103 -x 40.0000 -y 40.4000 -z 0.09 -file $(find phers_framework)/models/phers_ex01_obstacle/model.sdf" />
	<node name="obs_104" pkg="gazebo_ros" type="spawn_model" args="-sdf -model obs_104 -x 40.0000 -y 39.6000 -z 0.09 -file $(find phers_framework)/models/phers_ex01_obstacle/model.sdf" />
	<!-- ゴール -->
	<node name="goal_10" pkg="gazebo_ros" type="spawn_model" args="-sdf -model goal_10 -x 40.4000 -y 40.4000 -z 0.06 -file $(find phers_framework)/models/goal/model.sdf" />
	<group ns ="hero_10">
		<param name="tf_prefix" value="hero_10" />
		<param name="robot_description_hero_10" command="$(find xacro)/xacro '$(find hero_description)/robot/hero_light.urdf'"/>
		<node name="spawn_urdf_hero_10" pkg="gazebo_ros" type="spawn_model" args="-urdf -model hero_10 -x 40.0 -y 40.0 -z 0.2395 -robot_namespace hero_10 -file $(find hero_description)/robot/hero_light.urdf" />
		<node pkg="tf" type="static_transform_publisher" name="hero_10_broadcaster" args="40 40 0 0 0 0 world /hero_10/odom 20" />
		<node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>
	</group>

	<!-- 12つ目の環境 -->
	<node name="spawn_urdf_arena_11" pkg="gazebo_ros" type="spawn_model" args="-urdf -model arena_11 -x 60.0 -y 40.0 -z -0.0 -file $(find phers_framework)/models/arena_1/arena.urdf" />
	<!-- 障害物 -->
	<node name="obs_111" pkg="gazebo_ros" type="spawn_model" args="-sdf -model obs_111 -x 60.4000 -y 40.0 -z 0.09  -file $(find phers_framework)/models/phers_ex01_obstacle/model.sdf" />
	<node name="obs_112" pkg="gazebo_ros" type="spawn_model" args="-sdf -model obs_112 -x 59.6000 -y 40.0 -z 0.09 -file $(find phers_framework)/models/phers_ex01_obstacle/model.sdf" />
	<node name="obs_113" pkg="gazebo_ros" type="spawn_model" args="-sdf -model obs_113 -x 60.0000 -y 40.4000 -z 0.09 -file $(find phers_framework)/models/phers_ex01_obstacle/model.sdf" />
	<node name="obs_114" pkg="gazebo_ros" type="spawn_model" args="-sdf -model obs_114 -x 60.0000 -y 39.6000 -z 0.09 -file $(find phers_framework)/models/phers_ex01_obstacle/model.sdf" />
	<!-- ゴール -->
	<node name="goal_11" pkg="gazebo_ros" type="spawn_model" args="-sdf -model goal_11 -x 60.4000 -y 40.4000 -z 0.06 -file $(find phers_framework)/models/goal/model.sdf" />
	<group ns ="hero_11">
		<param name="tf_prefix" value="hero_11" />
		<param name="robot_description_hero_11" command="$(find xacro)/xacro '$(find hero_description)/robot/hero_light.urdf'"/>
		<node name="spawn_urdf_hero_11" pkg="gazebo_ros" type="spawn_model" args="-urdf -model hero_11 -x 60.0 -y 40.0 -z 0.2395 -robot_namespace hero_11 -file $(find hero_description)/robot/hero_light.urdf" />
		<node pkg="tf" type="static_transform_publisher" name="hero_11_broadcaster" args="60 40 0 0 0 0 world /hero_11/odom 20" />
		<node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>
	</group>

	<!-- 13つ目の環境 -->
	<node name="spawn_urdf_arena_12" pkg="gazebo_ros" type="spawn_model" args="-urdf -model arena_12 -x 0.0 -y 60.0 -z -0.0 -file $(find phers_framework)/models/arena_1/arena.urdf" />
	<!-- 障害物 -->
	<node name="obs_121" pkg="gazebo_ros" type="spawn_model" args="-sdf -model obs_121 -x 0.4000 -y 60.0 -z 0.09  -file $(find phers_framework)/models/phers_ex01_obstacle/model.sdf" />
	<node name="obs_122" pkg="gazebo_ros" type="spawn_model" args="-sdf -model obs_122 -x -0.4000 -y 60.0 -z 0.09 -file $(find phers_framework)/models/phers_ex01_obstacle/model.sdf" />
	<node name="obs_123" pkg="gazebo_ros" type="spawn_model" args="-sdf -model obs_123 -x 0.0000 -y 60.4000 -z 0.09 -file $(find phers_framework)/models/phers_ex01_obstacle/model.sdf" />
	<node name="obs_124" pkg="gazebo_ros" type="spawn_model" args="-sdf -model obs_124 -x 0.0000 -y 59.6000 -z 0.09 -file $(find phers_framework)/models/phers_ex01_obstacle/model.sdf" />
	<!-- ゴール -->
	<node name="goal_12" pkg="gazebo_ros" type="spawn_model" args="-sdf -model goal_12 -x 0.4000 -y 60.4000 -z 0.06 -file $(find phers_framework)/models/goal/model.sdf" />
	<group ns ="hero_12">
		<param name="tf_prefix" value="hero_12" />
		<param name="robot_description_hero_12" command="$(find xacro)/xacro '$(find hero_description)/robot/hero_light.urdf'"/>
		<node name="spawn_urdf_hero_12" pkg="gazebo_ros" type="spawn_model" args="-urdf -model hero_12 -x 0.0 -y 60.0 -z 0.2395 -robot_namespace hero_12 -file $(find hero_description)/robot/hero_light.urdf" />
		<node pkg="tf" type="static_transform_publisher" name="hero_12_broadcaster" args="0 60 0 0 0 0 world /hero_12/odom 20" />
		<node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>
	</group>

	<!-- 14つ目の環境 -->
	<node name="spawn_urdf_arena_13" pkg="gazebo_ros" type="spawn_model" args="-urdf -model arena_13 -x 20.0 -y 60.0 -z -0.0 -file $(find phers_framework)/models/arena_1/arena.urdf" />
	<!-- 障害物 -->
	<node name="obs_131" pkg="gazebo_ros" type="spawn_model" args="-sdf -model obs_131 -x 20.4000 -y 60.0 -z 0.09  -file $(find phers_framework)/models/phers_ex01_obstacle/model.sdf" />
	<node name="obs_132" pkg="gazebo_ros" type="spawn_model" args="-sdf -model obs_132 -x 19.6000 -y 60.0 -z 0.09 -file $(find phers_framework)/models/phers_ex01_obstacle/model.sdf" />
	<node name="obs_133" pkg="gazebo_ros" type="spawn_model" args="-sdf -model obs_133 -x 20.0000 -y 60.4000 -z 0.09 -file $(find phers_framework)/models/phers_ex01_obstacle/model.sdf" />
	<node name="obs_134" pkg="gazebo_ros" type="spawn_model" args="-sdf -model obs_134 -x 20.0000 -y 59.6000 -z 0.09 -file $(find phers_framework)/models/phers_ex01_obstacle/model.sdf" />
	<!-- ゴール -->
	<node name="goal_13" pkg="gazebo_ros" type="spawn_model" args="-sdf -model goal_13 -x 20.4000 -y 60.4000 -z 0.06 -file $(find phers_framework)/models/goal/model.sdf" />
	<group ns ="hero_13">
		<param name="tf_prefix" value="hero_13" />
		<param name="robot_description_hero_13" command="$(find xacro)/xacro '$(find hero_description)/robot/hero_light.urdf'"/>
		<node name="spawn_urdf_hero_13" pkg="gazebo_ros" type="spawn_model" args="-urdf -model hero_13 -x 20.0 -y 60.0 -z 0.2395 -robot_namespace hero_13 -file $(find hero_description)/robot/hero_light.urdf" />
		<node pkg="tf" type="static_transform_publisher" name="hero_13_broadcaster" args="20 60 0 0 0 0 world /hero_13/odom 20" />
		<node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>
	</group>

	<!-- 15つ目の環境 -->
	<node name="spawn_urdf_arena_14" pkg="gazebo_ros" type="spawn_model" args="-urdf -model arena_14 -x 40.0 -y 60.0 -z -0.0 -file $(find phers_framework)/models/arena_1/arena.urdf" />
	<!-- 障害物 -->
	<node name="obs_141" pkg="gazebo_ros" type="spawn_model" args="-sdf -model obs_141 -x 40.4000 -y 60.0 -z 0.09  -file $(find phers_framework)/models/phers_ex01_obstacle/model.sdf" />
	<node name="obs_142" pkg="gazebo_ros" type="spawn_model" args="-sdf -model obs_142 -x 39.6000 -y 60.0 -z 0.09 -file $(find phers_framework)/models/phers_ex01_obstacle/model.sdf" />
	<node name="obs_143" pkg="gazebo_ros" type="spawn_model" args="-sdf -model obs_143 -x 40.0000 -y 60.4000 -z 0.09 -file $(find phers_framework)/models/phers_ex01_obstacle/model.sdf" />
	<node name="obs_144" pkg="gazebo_ros" type="spawn_model" args="-sdf -model obs_144 -x 40.0000 -y 59.6000 -z 0.09 -file $(find phers_framework)/models/phers_ex01_obstacle/model.sdf" />
	<!-- ゴール -->
	<node name="goal_14" pkg="gazebo_ros" type="spawn_model" args="-sdf -model goal_14 -x 40.4000 -y 60.4000 -z 0.06 -file $(find phers_framework)/models/goal/model.sdf" />
	<group ns ="hero_14">
		<param name="tf_prefix" value="hero_14" />
		<param name="robot_description_hero_14" command="$(find xacro)/xacro '$(find hero_description)/robot/hero_light.urdf'"/>
		<node name="spawn_urdf_hero_14" pkg="gazebo_ros" type="spawn_model" args="-urdf -model hero_14 -x 40.0 -y 60.0 -z 0.2395 -robot_namespace hero_14 -file $(find hero_description)/robot/hero_light.urdf" />
		<node pkg="tf" type="static_transform_publisher" name="hero_14_broadcaster" args="40 60 0 0 0 0 world /hero_14/odom 20" />
		<node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>
	</group>


	<!-- 16つ目の環境 -->
	<node name="spawn_urdf_arena_15" pkg="gazebo_ros" type="spawn_model" args="-urdf -model arena_15 -x 60.0 -y 60.0 -z -0.0 -file $(find phers_framework)/models/arena_1/arena.urdf" />
	<!-- 障害物 -->
	<node name="obs_151" pkg="gazebo_ros" type="spawn_model" args="-sdf -model obs_151 -x 60.4000 -y 60.0 -z 0.09  -file $(find phers_framework)/models/phers_ex01_obstacle/model.sdf" />
	<node name="obs_152" pkg="gazebo_ros" type="spawn_model" args="-sdf -model obs_152 -x 59.6000 -y 60.0 -z 0.09 -file $(find phers_framework)/models/phers_ex01_obstacle/model.sdf" />
	<node name="obs_153" pkg="gazebo_ros" type="spawn_model" args="-sdf -model obs_153 -x 60.0000 -y 60.4000 -z 0.09 -file $(find phers_framework)/models/phers_ex01_obstacle/model.sdf" />
	<node name="obs_154" pkg="gazebo_ros" type="spawn_model" args="-sdf -model obs_154 -x 60.0000 -y 59.6000 -z 0.09 -file $(find phers_framework)/models/phers_ex01_obstacle/model.sdf" />
	<!-- ゴール -->
	<node name="goal_15" pkg="gazebo_ros" type="spawn_model" args="-sdf -model goal_15 -x 60.4000 -y 60.4000 -z 0.06 -file $(find phers_framework)/models/goal/model.sdf" />
	<group ns ="hero_15">
		<param name="tf_prefix" value="hero_15" />
		<param name="robot_description_hero_15" command="$(find xacro)/xacro '$(find hero_description)/robot/hero_light.urdf'"/>
		<node name="spawn_urdf_hero_15" pkg="gazebo_ros" type="spawn_model" args="-urdf -model hero_15 -x 60.0 -y 60.0 -z 0.2395 -robot_namespace hero_15 -file $(find hero_description)/robot/hero_light.urdf" />
		<node pkg="tf" type="static_transform_publisher" name="hero_15_broadcaster" args="60 60 0 0 0 0 world /hero_15/odom 20" />
		<node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>
	</group>

</launch>