<launch>
	<param name="/robot_description" textfile="$(find hero_description)/robot/hero_light.urdf"/>
	

	<!-- 1つ目の環境 -->
	<node name="spawn_urdf_arena_0" pkg="gazebo_ros" type="spawn_model" args="-urdf -model arena_0 -x 0.0 -y -0.0 -z -0.0 -file $(find phers_framework)/models/arena_1/arena.urdf" />
	
	<!-- 障害物 -->
	<node name="obs_01" pkg="gazebo_ros" type="spawn_model" args="-sdf -model obs_01 -x 0.4000 -y 0.0 -z 0.09  -file $(find phers_framework)/models/phers_ex01_obstacle/model.sdf" />
	<node name="obs_02" pkg="gazebo_ros" type="spawn_model" args="-sdf -model obs_02 -x -0.4000 -y 0.0 -z 0.09 -file $(find phers_framework)/models/phers_ex01_obstacle/model.sdf" />
	<node name="obs_03" pkg="gazebo_ros" type="spawn_model" args="-sdf -model obs_03 -x 0.0000 -y 0.4000 -z 0.09 -file $(find phers_framework)/models/phers_ex01_obstacle/model.sdf" />
	<node name="obs_04" pkg="gazebo_ros" type="spawn_model" args="-sdf -model obs_04 -x 0.0000 -y -0.4000 -z 0.09 -file $(find phers_framework)/models/phers_ex01_obstacle/model.sdf" />
	<!-- ゴール -->
	<node name="goal_0" pkg="gazebo_ros" type="spawn_model" args="-sdf -model goal_0 -x 0.4000 -y 0.4000 -z 0.06 -file $(find phers_framework)/models/goal/model.sdf" />
	<!-- ロボット -->
	<group ns ="hero_0">
    	<param name="tf_prefix" value="hero_0" />
    	<param name="robot_description_hero_0" command="$(find xacro)/xacro '$(find hero_description)/robot/hero_light.urdf'"/>
		<node name="spawn_urdf_hero_0" pkg="gazebo_ros" type="spawn_model" args="-urdf -model hero_0 -x 0.0 -y 0.0 -z 0.2395 -robot_namespace hero_0 -file $(find hero_description)/robot/hero_light.urdf" />
		<node pkg="tf" type="static_transform_publisher" name="hero_0_broadcaster" args="0 0 0 0 0 0 world /hero_0/odom 20" />
		<node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>
	</group>

	<!-- 2つ目の環境 -->
	<node name="spawn_urdf_arena_1" pkg="gazebo_ros" type="spawn_model" args="-urdf -model arena_1 -x 20.0 -y -0.0 -z -0.0 -file $(find phers_framework)/models/arena_1/arena.urdf" />
	<!-- 障害物 -->
	<node name="obs_11" pkg="gazebo_ros" type="spawn_model" args="-sdf -model obs_11 -x 20.4000 -y 0.0 -z 0.09  -file $(find phers_framework)/models/phers_ex01_obstacle/model.sdf" />
	<node name="obs_12" pkg="gazebo_ros" type="spawn_model" args="-sdf -model obs_12 -x 19.6000 -y 0.0 -z 0.09 -file $(find phers_framework)/models/phers_ex01_obstacle/model.sdf" />
	<node name="obs_13" pkg="gazebo_ros" type="spawn_model" args="-sdf -model obs_13 -x 20.0000 -y 0.4000 -z 0.09 -file $(find phers_framework)/models/phers_ex01_obstacle/model.sdf" />
	<node name="obs_14" pkg="gazebo_ros" type="spawn_model" args="-sdf -model obs_14 -x 20.0000 -y -0.4000 -z 0.09 -file $(find phers_framework)/models/phers_ex01_obstacle/model.sdf" />
	<!-- ゴール -->
	<node name="goal_1" pkg="gazebo_ros" type="spawn_model" args="-sdf -model goal_1 -x 20.4000 -y 0.4000 -z 0.06 -file $(find phers_framework)/models/goal/model.sdf" />

	<group ns ="hero_1">
    	<param name="tf_prefix" value="hero_1" />
    	<param name="robot_description_hero_1" command="$(find xacro)/xacro '$(find hero_description)/robot/hero_light.urdf'"/>
		<node name="spawn_urdf_hero_1" pkg="gazebo_ros" type="spawn_model" args="-urdf -model hero_1 -x 20.0 -y 0.0 -z 0.2395 -robot_namespace hero_1 -file $(find hero_description)/robot/hero_light.urdf" />
		<node pkg="tf" type="static_transform_publisher" name="hero_1_broadcaster" args="20 0 0 0 0 0 world /hero_1/odom 20" />
		<node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>
	</group>
    
    <!-- 3つ目の環境 -->
	<node name="spawn_urdf_arena_2" pkg="gazebo_ros" type="spawn_model" args="-urdf -model arena_2 -x 40.0 -y -0.0 -z -0.0 -file $(find phers_framework)/models/arena_1/arena.urdf" />
	<!-- 障害物 -->
	<node name="obs_21" pkg="gazebo_ros" type="spawn_model" args="-sdf -model obs_21 -x 40.4000 -y 0.0 -z 0.09  -file $(find phers_framework)/models/phers_ex01_obstacle/model.sdf" />
	<node name="obs_22" pkg="gazebo_ros" type="spawn_model" args="-sdf -model obs_22 -x 39.6000 -y 0.0 -z 0.09 -file $(find phers_framework)/models/phers_ex01_obstacle/model.sdf" />
	<node name="obs_23" pkg="gazebo_ros" type="spawn_model" args="-sdf -model obs_23 -x 40.0000 -y 0.4000 -z 0.09 -file $(find phers_framework)/models/phers_ex01_obstacle/model.sdf" />
	<node name="obs_24" pkg="gazebo_ros" type="spawn_model" args="-sdf -model obs_24 -x 40.0000 -y -0.4000 -z 0.09 -file $(find phers_framework)/models/phers_ex01_obstacle/model.sdf" />
	<!-- ゴール -->
	<node name="goal_2" pkg="gazebo_ros" type="spawn_model" args="-sdf -model goal_2 -x 40.4000 -y 0.4000 -z 0.06 -file $(find phers_framework)/models/goal/model.sdf" />
	<group ns ="hero_2">
    	<param name="tf_prefix" value="hero_2" />
    	<param name="robot_description_hero_2" command="$(find xacro)/xacro '$(find hero_description)/robot/hero_light.urdf'"/>
		<node name="spawn_urdf_hero_2" pkg="gazebo_ros" type="spawn_model" args="-urdf -model hero_2 -x 40.0 -y 0.0 -z 0.2395 -robot_namespace hero_2 -file $(find hero_description)/robot/hero_light.urdf" />
		<node pkg="tf" type="static_transform_publisher" name="hero_2_broadcaster" args="40 0 0 0 0 0 world /hero_2/odom 20" />
		<node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>
	</group>

     <!-- 4つ目の環境 -->
	<node name="spawn_urdf_arena_3" pkg="gazebo_ros" type="spawn_model" args="-urdf -model arena_3 -x 60.0 -y -0.0 -z -0.0 -file $(find phers_framework)/models/arena_1/arena.urdf" />
	<!-- 障害物 -->
	<node name="obs_31" pkg="gazebo_ros" type="spawn_model" args="-sdf -model obs_31 -x 60.4000 -y 0.0 -z 0.09  -file $(find phers_framework)/models/phers_ex01_obstacle/model.sdf" />
	<node name="obs_32" pkg="gazebo_ros" type="spawn_model" args="-sdf -model obs_32 -x 59.6000 -y 0.0 -z 0.09 -file $(find phers_framework)/models/phers_ex01_obstacle/model.sdf" />
	<node name="obs_33" pkg="gazebo_ros" type="spawn_model" args="-sdf -model obs_33 -x 60.0000 -y 0.4000 -z 0.09 -file $(find phers_framework)/models/phers_ex01_obstacle/model.sdf" />
	<node name="obs_34" pkg="gazebo_ros" type="spawn_model" args="-sdf -model obs_34 -x 60.0000 -y -0.4000 -z 0.09 -file $(find phers_framework)/models/phers_ex01_obstacle/model.sdf" />
	<!-- ゴール -->
	<node name="goal_3" pkg="gazebo_ros" type="spawn_model" args="-sdf -model goal_3 -x 60.4000 -y 0.4000 -z 0.06 -file $(find phers_framework)/models/goal/model.sdf" />
	<group ns ="hero_3">
    	<param name="tf_prefix" value="hero_3" />
    	<param name="robot_description_hero_3" command="$(find xacro)/xacro '$(find hero_description)/robot/hero_light.urdf'"/>
		<node name="spawn_urdf_hero_3" pkg="gazebo_ros" type="spawn_model" args="-urdf -model hero_3 -x 60.0 -y 0.0 -z 0.2395 -robot_namespace hero_3 -file $(find hero_description)/robot/hero_light.urdf" />
		<node pkg="tf" type="static_transform_publisher" name="hero_3_broadcaster" args="60 0 0 0 0 0 world /hero_3/odom 20" />
		<node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>
	</group>

	<!-- 5つ目の環境 -->
	<node name="spawn_urdf_arena_4" pkg="gazebo_ros" type="spawn_model" args="-urdf -model arena_4 -x 0.0 -y 20.0 -z -0.0 -file $(find phers_framework)/models/arena_1/arena.urdf" />
	<!-- 障害物 -->
	<node name="obs_41" pkg="gazebo_ros" type="spawn_model" args="-sdf -model obs_41 -x 0.4000 -y 20.0 -z 0.09  -file $(find phers_framework)/models/phers_ex01_obstacle/model.sdf" />
	<node name="obs_42" pkg="gazebo_ros" type="spawn_model" args="-sdf -model obs_42 -x -0.4000 -y 20.0 -z 0.09 -file $(find phers_framework)/models/phers_ex01_obstacle/model.sdf" />
	<node name="obs_43" pkg="gazebo_ros" type="spawn_model" args="-sdf -model obs_43 -x 0.0000 -y 20.4000 -z 0.09 -file $(find phers_framework)/models/phers_ex01_obstacle/model.sdf" />
	<node name="obs_44" pkg="gazebo_ros" type="spawn_model" args="-sdf -model obs_44 -x 0.0000 -y 19.6000 -z 0.09 -file $(find phers_framework)/models/phers_ex01_obstacle/model.sdf" />
	<!-- ゴール -->
	<node name="goal_4" pkg="gazebo_ros" type="spawn_model" args="-sdf -model goal_4 -x 0.4000 -y 20.4000 -z 0.06 -file $(find phers_framework)/models/goal/model.sdf" />
	<group ns ="hero_4">
    	<param name="tf_prefix" value="hero_4" />
    	<param name="robot_description_hero_4" command="$(find xacro)/xacro '$(find hero_description)/robot/hero_light.urdf'"/>
		<node name="spawn_urdf_hero_4" pkg="gazebo_ros" type="spawn_model" args="-urdf -model hero_4 -x 0.0 -y 20.0 -z 0.2395 -robot_namespace hero_4 -file $(find hero_description)/robot/hero_light.urdf" />
		<node pkg="tf" type="static_transform_publisher" name="hero_4_broadcaster" args="0 20 0 0 0 0 world /hero_4/odom 20" />
		<node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>
	</group>

	<!-- 6つ目の環境 -->
	<node name="spawn_urdf_arena_5" pkg="gazebo_ros" type="spawn_model" args="-urdf -model arena_5 -x 20.0 -y 20.0 -z -0.0 -file $(find phers_framework)/models/arena_1/arena.urdf" />
	<!-- 障害物 -->
	<node name="obs_51" pkg="gazebo_ros" type="spawn_model" args="-sdf -model obs_51 -x 20.4000 -y 20.0 -z 0.09  -file $(find phers_framework)/models/phers_ex01_obstacle/model.sdf" />
	<node name="obs_52" pkg="gazebo_ros" type="spawn_model" args="-sdf -model obs_52 -x 19.6000 -y 20.0 -z 0.09 -file $(find phers_framework)/models/phers_ex01_obstacle/model.sdf" />
	<node name="obs_53" pkg="gazebo_ros" type="spawn_model" args="-sdf -model obs_53 -x 20.0000 -y 20.4000 -z 0.09 -file $(find phers_framework)/models/phers_ex01_obstacle/model.sdf" />
	<node name="obs_54" pkg="gazebo_ros" type="spawn_model" args="-sdf -model obs_54 -x 20.0000 -y 19.6000 -z 0.09 -file $(find phers_framework)/models/phers_ex01_obstacle/model.sdf" />
	<!-- ゴール -->
	<node name="goal_5" pkg="gazebo_ros" type="spawn_model" args="-sdf -model goal_5 -x 20.4000 -y 20.4000 -z 0.06 -file $(find phers_framework)/models/goal/model.sdf" />
	<group ns ="hero_5">
		<param name="tf_prefix" value="hero_5" />
		<param name="robot_description_hero_5" command="$(find xacro)/xacro '$(find hero_description)/robot/hero_light.urdf'"/>
		<node name="spawn_urdf_hero_5" pkg="gazebo_ros" type="spawn_model" args="-urdf -model hero_5 -x 20.0 -y 20.0 -z 0.2395 -robot_namespace hero_5 -file $(find hero_description)/robot/hero_light.urdf" />
		<node pkg="tf" type="static_transform_publisher" name="hero_5_broadcaster" args="20 20 0 0 0 0 world /hero_5/odom 20" />
		<node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>
	</group>

	<!-- 7つ目の環境 -->
	<node name="spawn_urdf_arena_6" pkg="gazebo_ros" type="spawn_model" args="-urdf -model arena_6 -x 40.0 -y 20.0 -z -0.0 -file $(find phers_framework)/models/arena_1/arena.urdf" />
	<!-- 障害物 -->
	<node name="obs_61" pkg="gazebo_ros" type="spawn_model" args="-sdf -model obs_61 -x 40.4000 -y 20.0 -z 0.09  -file $(find phers_framework)/models/phers_ex01_obstacle/model.sdf" />
	<node name="obs_62" pkg="gazebo_ros" type="spawn_model" args="-sdf -model obs_62 -x 39.6000 -y 20.0 -z 0.09 -file $(find phers_framework)/models/phers_ex01_obstacle/model.sdf" />
	<node name="obs_63" pkg="gazebo_ros" type="spawn_model" args="-sdf -model obs_63 -x 40.0000 -y 20.4000 -z 0.09 -file $(find phers_framework)/models/phers_ex01_obstacle/model.sdf" />
	<node name="obs_64" pkg="gazebo_ros" type="spawn_model" args="-sdf -model obs_64 -x 40.0000 -y 19.6000 -z 0.09 -file $(find phers_framework)/models/phers_ex01_obstacle/model.sdf" />
	<!-- ゴール -->
	<node name="goal_6" pkg="gazebo_ros" type="spawn_model" args="-sdf -model goal_6 -x 40.4000 -y 20.4000 -z 0.06 -file $(find phers_framework)/models/goal/model.sdf" />
	<group ns ="hero_6">
		<param name="tf_prefix" value="hero_6" />
		<param name="robot_description_hero_6" command="$(find xacro)/xacro '$(find hero_description)/robot/hero_light.urdf'"/>
		<node name="spawn_urdf_hero_6" pkg="gazebo_ros" type="spawn_model" args="-urdf -model hero_6 -x 40.0 -y 20.0 -z 0.2395 -robot_namespace hero_6 -file $(find hero_description)/robot/hero_light.urdf" />
		<node pkg="tf" type="static_transform_publisher" name="hero_6_broadcaster" args="40 20 0 0 0 0 world /hero_6/odom 20" />
		<node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>
	</group>

	<!-- 8つ目の環境 -->
	<node name="spawn_urdf_arena_7" pkg="gazebo_ros" type="spawn_model" args="-urdf -model arena_7 -x 60.0 -y 20.0 -z -0.0 -file $(find phers_framework)/models/arena_1/arena.urdf" />
	<!-- 障害物 -->
	<node name="obs_71" pkg="gazebo_ros" type="spawn_model" args="-sdf -model obs_71 -x 60.4000 -y 20.0 -z 0.09  -file $(find phers_framework)/models/phers_ex01_obstacle/model.sdf" />
	<node name="obs_72" pkg="gazebo_ros" type="spawn_model" args="-sdf -model obs_72 -x 59.6000 -y 20.0 -z 0.09 -file $(find phers_framework)/models/phers_ex01_obstacle/model.sdf" />
	<node name="obs_73" pkg="gazebo_ros" type="spawn_model" args="-sdf -model obs_73 -x 60.0000 -y 20.4000 -z 0.09 -file $(find phers_framework)/models/phers_ex01_obstacle/model.sdf" />
	<node name="obs_74" pkg="gazebo_ros" type="spawn_model" args="-sdf -model obs_74 -x 60.0000 -y 19.6000 -z 0.09 -file $(find phers_framework)/models/phers_ex01_obstacle/model.sdf" />
	<!-- ゴール -->
	<node name="goal_7" pkg="gazebo_ros" type="spawn_model" args="-sdf -model goal_7 -x 60.4000 -y 20.4000 -z 0.06 -file $(find phers_framework)/models/goal/model.sdf" />
	<group ns ="hero_7">
		<param name="tf_prefix" value="hero_7" />
		<param name="robot_description_hero_7" command="$(find xacro)/xacro '$(find hero_description)/robot/hero_light.urdf'"/>
		<node name="spawn_urdf_hero_7" pkg="gazebo_ros" type="spawn_model" args="-urdf -model hero_7 -x 60.0 -y 20.0 -z 0.2395 -robot_namespace hero_7 -file $(find hero_description)/robot/hero_light.urdf" />
		<node pkg="tf" type="static_transform_publisher" name="hero_7_broadcaster" args="60 20 0 0 0 0 world /hero_7/odom 20" />
		<node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>
	</group>


</launch>